if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

use flake

# CIRCUIT_PATH=$HOME/code/veridise/risczero-wip/zirgen/circuit/rv32im/v2/dsl/
KECCAK_PATH=$HOME/code/veridise/zir-benchmarks/keccak2/
# DEST=../risc0_v2_circuit_build_results/$(date +%Y-%m-%d-%H-%M)
